@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100;300;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 44, 52);
    width: 100%;
    height: 100vh;
}


nav{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
}
.logo img{
  width: 40px;
  border-radius: 50%;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h3{
  font-size: 15px;
}

ul{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

ul li, a{
  cursor: pointer;
  color:#fff;
  padding: 5px;
  transition: 0.2s;
  text-decoration: none;
}
ul li:hover{
  color:#fff;
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem #0a6cec;
}
ul li:active{
  transform: translate(0);
  box-shadow: none;
}
.container-projetos{
  margin: 150px 0;
  display: flex;
  justify-content:center;
  padding-bottom: 50px;
  
}
.container-paragrafo-projetos{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.case-projetos{
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  margin: 120px 0;
  padding: 50px;
}
.titulo-projeto{
  font-family: 'Pacifico';
  font-size: 2rem;
  color: #008000;
  text-align: end;
  font-weight: 400;  
}
.color-historia{
  color: #0a6cec;
}
.color-workshopp{
  color: #FFD046;
}
.color-churrascometro{
  color: #ff0000;
}

.subtitulo-projeto{
  color: #fff;
  font-family: monospace;
  font-size: 1.2rem;
  max-width: 300px;
  text-align:justify;
  padding: 20px 0;
   
}
.texto-submissao{
  color: #FFD046;
}

.img-projetos{
  max-width: 800px; 
} 
.img-mobile{
  position: absolute;
  max-width: 280px;
  top: -30px;
  left: 70rem;
  filter: drop-shadow(-10px 10px 10px #000);
}
.button-dskt {
  --bg: #0a6cec;
  --hover-bg: #000;
  --hover-text: #fff;
  color: #ffffff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button-dskt:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button-dskt:active {
  transform: translate(0);
  box-shadow: none;
}

@media screen and (max-width:768px){
  
  .name-logo{ 
    display: none;
  }
  nav{ 
    padding:10px 0;
  }
  ul{
    gap: 10px;
  }
  ul li{
    padding: 10px;
    font-size: 18px;
  }
  .button-dskt{
    padding: 0 10px;
  }
  
  .container-projetos{
    flex-direction: column-reverse;
 }
  .container-paragrafo-projetos{
      margin: auto;
  }

  .img-projetos{
      width: 100%;
      margin:20px 0px;
      padding: 10px;
      border: none;
  }
  .img-mobile{
    display: none;
  }
  .titulo-projeto,.subtitulo-projeto{
      text-align: start;
  }
  .case-projetos{
    margin: 50px 0;
  }
}
footer{
  width: 100%;
  border-top: 2px solid rgb(80, 80, 80);
  padding-bottom: 20px;
}
.nav-footer{
  padding: 100px;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-footer{
  padding: 20px;
}
.texto-footer{
  text-align: center;
  color: #FFD046;
  font-size: 1.2rem;
}