@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100;300;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    width: 100%;
}
body{
    background-color: #282C34;
    width: 100%;
    height: 100vh;
}
.menu-mobile{
    display: none;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}
.logo img{
    width: 40px;
    border-radius: 50%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h3{
    font-size: 15px;
}
ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

ul li, a{
    cursor: pointer;
    color:#fff;
    padding: 5px;
    transition: 0.2s;
    text-decoration: none;
}
ul li:hover{
    color:#fff;
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem #0a6cec;
}
ul li:active{
    transform: translate(0);
    box-shadow: none;
}
.button-dskt {
    --bg: #0a6cec;
    --hover-bg: #000;
    --hover-text: #fff;
    color: #ffffff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
  
.button-dskt:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}
  
.button-dskt:active {
    transform: translate(0);
    box-shadow: none;
}

.titulo-container{
    margin-top:80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-paragrafo{
    max-width: 600px;
}
section img{
    max-width: 400px;
}

.titulo{
    font-size: 1.2rem;
    color: #ffffff;
}
.subtitulo{
    color: #ffffff;
    font-family: monospace;
    font-weight: 600;
    font-size: 40px;
    line-height: 80%;
}
.texto-subtitulo{
    color: #FFD046;
    font-size: 50px;
    display: block;
}
.logo i{
    font-size: 35px;
    margin-right: 10px;
}
@media screen and (max-width:768px){
    .nav-menu{
        display:none;
    }
    .container-header{
        justify-content: space-between;
        display: none;
    }
    .menu-mobile{
        display: block;
    }

    .titulo-container{
        flex-direction: column;
        margin:20px;
        padding: 10px;
    }
    .container-paragrafo{
        width: 100%;
        padding: 0px;
        margin: 0;
    }
    .titulo{
        text-align: justify;
        font-size: 1.4rem;
        line-height: 150%;
    }
    .subtitulo{
        text-align: center;
        font-size: 1.8rem;
        min-height: 50%;
    }
    .texto-subtitulo{
        display: block;
        line-height: 105%;
    }
    .button-dskt{
        display: block;
        margin:auto;
        margin-top: 30px;

    }
    section img{
        margin-top: 30px;
        max-width: 700px;
        padding: 0px;
        margin-right: 1%;
    }
}
.container-misão{
    padding: 50px;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
.titulo-misao{
    width: 550px;
    color: #ffffff;
    font-size: 20px;
}
.img-missao{
    max-width: 450px;
    filter: drop-shadow(2px 2px 10px #000);
}
.texto-submissao{
    color: #FFD046;
}
.container-sobre{
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
.img-sobre{
    max-width: 450px;
    filter: drop-shadow(2px 2px 10px #000);
    
}

.hamburguer{
    display: none;
}
@media screen and (max-width:768px){
    .container-misão{
        margin-top: 50px;
        padding: 25px;
        flex-direction: column-reverse;

    }
    .img-missao{
        width: 400px;
    }
    .titulo-misao{
        max-width: 300px;
        text-align:justify;
    }
    .container-sobre{
        flex-direction: column;
    }
    .hamburguer{
        display: block;

    }
    .logo img{
        margin-left: 15px;
    }
    

}
.container-caracteristicas{
    padding: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.img-caracteristicas{
    max-width: 500px;
    filter: drop-shadow(2px 2px 10px #000);   
}
.titulo-caracteristicas{
    width: 100%;
    font-size: 1.3rem;
    color: #fff;
}

.titulo-caracteristicas i{
    margin-right:10px;
}
.container-paragrafor-caracteristicas{
    max-width: 600px;
    padding: 10px;
    margin: 50px 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.subtitulo-caracteristicas{
    color: #ffffff;
    font-family: monospace;
    font-weight: 600;
    font-size: 3rem;
    
}

@media screen and (max-width:768px){
    .container-paragrafor-caracteristicas{
        width: 100%;
        padding: 20px;
    }
    .container-caracteristicas{
        margin-top: 50px;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
    .img-caracteristicas{
        max-width: 350px;
        padding:10px;
        margin: 0;
    }
    .subtitulo-caracteristicas{
        font-size: 2rem;
    }


}
.container-projetos{
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content:center;
    padding-bottom: 50px;
    
}
.container-paragrafo-projetos{
    display: flex;
    flex-direction: column;
}
.case-projetos{
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    margin: 120px 0;
    padding: 50px;
}
.titulo-projeto{
    font-family: 'Pacifico';
    color: #008000;
    text-align: end;
    font-weight: 400;  
}

.subtitulo-projeto{
    color: #fff;
    max-width: 300px;
    text-align: justify;
     
}

.img-projetos{
    max-width: 600px;
    height: 500px;
    border: 3px solid #FFD046;
    filter: drop-shadow(10px 10px 10px #000);
} 
.img-mobile{
    position: absolute;
    max-width: 280px;
    top: -30px;
    left: 70rem;
    filter: drop-shadow(-10px 10px 10px #000);
}

@media screen and (max-width:768px){
    .container-projetos{
        flex-direction: column-reverse;
    }
    .container-paragrafo-projetos{
        margin: auto;
    }
    .titulo-projeto{
        font-size: 2rem;
    }
    .subtitulo-projeto{
        line-height: 150%;
        font-size: 1.3rem;
        text-align: justify;
    }
    .img-projetos{
        width: 100%;
        height: 300px;
        margin:20px 0px;
        padding: 10px;
        border: none;
    }
    .img-mobile{
       display: none;
    }
    .titulo-projeto,.subtitulo-projeto{
        text-align: start;
    }

}

.parent {
    margin-top: 120px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap:0px;
    grid-row-gap: 30px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 3 / 3 / 4; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 1 / 3 / 2; }

.img-skill{
    max-width: 200px;
    padding: 10px;

}
footer{
    width: 100%;
    border-top: 2px solid rgb(80, 80, 80);
    padding-bottom: 20px;
}
.nav-footer{
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    padding: 20px;
}
.texto-footer{
    text-align: center;
    color: #FFD046;
    font-size: 1.2rem;
}

