@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(45deg, #1B7BCE 0%, #12B9FE 36%, #087BC5 100%);
    animation: color 15s ease infinite;   
}
.fotoPerfil {
    border-radius: 50%;
    width: 200px;
    border: solid 3px white;
}
.secao h2{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    text-shadow: 3px 4px #0000002f;
}
.paragrafo{
    color:#080505;
    -webkit-box-shadow: 5px 5px 5px 5px #000000; 
    box-shadow: 5px 5px 5px 5px #000000;
    width: 500px;
    padding: 20px;
    position:relative;
    display: flex;
    justify-content:center;
    align-items: center;
}
.paragrafo p{
    font-size: 20px;
    width: 490px;
    padding: 10px;
    text-align:justify;   
}
.secao {
    text-align: center; 
}

h3{
    text-align: center;
    color: white;
    margin-top: 50px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 1000px;
}
.logo{
    width:150px;
}
.empresa{
    font-size: 20px;
    margin-right: 15px;    
}
.text-footer{
    color: #fff;
    font-weight:500;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #00000048;
    margin-top: 30px;
}
.contato{
    border-top: 2px solid #00000048;
    margin-top: 50px;
}
/* icones de midia sociais */
.icons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;   
}
.icon{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    font-size: 22px;
    margin-top: 15px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color,
    background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i {
    animation: shake .25s;
}
.icon--instagran:hover{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}
.icon--twitter:hover{
    background-color: #2ca5f0;
    outline-color: #2ca5f0;
}
.icon--linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
.icon--facebook:hover{
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon--whatsapp:hover{
    background-color: #28c254;
    outline-color: #28c254;
}
@keyframes shake {
    10% {transform: rotate(15deg);}
    20% {transform: rotate(-15deg);}
    30% {transform: rotate(15deg);}
    40% {transform: rotate(-15deg);}
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.container-header{
    display: flex;
    padding: 30px;
    justify-content: center;
}
@media ( max-width:626px )
{
    
    .secao img{
        width: 150px;  
    }
    .secao h2{
        font-size: 20px;
    }
    .cabecalho{
        display: block;
    }
    .container-logo{
        text-align: center;
    }
    .logo{
        width: 90px;
        margin-bottom: 20px;
    }

    .cabecalho h1{
        font-size: 15px;
        text-align: center;
    }
    .cabecalho h2{
        display: none;
    }
    .paragrafo{
        max-width: 300px;
    }
    
    .paragrafo p{
        text-align: center;
    }   
    .text-footer{
        padding: 40px;
        font-size: 10px;
    }
    .icons{
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
    }
    .container-header{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: auto;
    }  
}

