htm, body{
    height: 100%;
    margin: 0;
    padding: 0;

}

body{
    
    background-image: url(Fotos/background.jpg);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;

}


.fotoPerfil {
    margin-top: 5px;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    width: 300px;
    height: 340px;
    border: solid 3px white;

}

.textoPrincipal {
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.paragrafos{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    

}
.paragrafos p{
    width: 400px;
    text-align: justify;
    text-indent: 30px;
    margin: 60px;
    padding: 30px;
}

.secao {
    text-align: center;  
}

.fonte {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.icones{
    width: 35px;
    height: 35px;  
     
}

.icones2{
   color: rgb(255, 255, 255);
   padding: 15px;
   text-decoration: none;
}
.icones-contato{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}
h2, h1{
    text-align: center;
    color: white;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.empresa{
    font-size: 10px;
    margin-right: 15px;
    
}
.text-footer{
    color: #fff;
    font-weight:500;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.281);
    margin-top: 30px;
}

@media ( max-width:626px )
{
    .icones-contato{
        
        max-width: 390px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .fotoPerfil {
        margin-top: 5px;
        max-width: 100%;
        height: 100%;
        border-radius: 50%;
        width: 150px;
        border: solid 3px white;
    }
    .textoPrincipal {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .paragrafos{
        color: rgb(255, 255, 255);
        
        
           
            
        
    }
    .cabecalho{
        font-size: 10px;
    }
}

